

/*
This is the example for how to generate and create a key for the server_cert
This also will generate the server_key.pem

wsl bash -lc 'mkdir -p /mnt/c/<project_path>/secrets/Hidden; \
openssl req -x509 -newkey rsa:2048 \
-keyout /mnt/c/<project_path>/secrets/Hidden/server_key.pem \
-out /mnt/c/<project_path>/secrets/Hidden/server_cert.pem \
-days 365 -nodes -subj "/CN=device.local"'


*/