# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Log files
*.log
*.log.*
*.log.gz
log/
logs/
/log/

# Build directories
build-*/
build/

# venv
venv/
env/

# vscode
.vscode/

# ESP-IDF config (local)
sdkconfig
sdkconfig.*
!sdkconfig.defaults
!sdkconfig.defaults.*

# Secrets
main/secrets/Hidden/*
!main/secrets/Hidden/.gitkeep

